/* Global font settings */
h1 { 
  font-size: 2.5rem;
  font-family: 'Arial Black', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #967c44 0%,
    #e6cca3 10%,
    #e6c99e 30%,
    #f4ebdd 50%,
    #e6c99e 70%,
    #e6cca3 80%,
    #967c44 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
h3 { 
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Arial Black', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #967c44 0%,
    #e6cca3 10%,
    #e6c99e 30%,
    #f4ebdd 50%,
    #e6c99e 70%,
    #e6cca3 80%,
    #967c44 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
a{color:#ffffff;}

  .image-left {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    border: 2px solid rgba(255, 215, 0, 0.5); /* soft gold glow */
    box-shadow:
      0 4px 10px rgba(0, 0, 0, 0.6),
      0 0 15px rgba(255, 215, 0, 0.3); /* outer gold glow */
  
    margin: 20px;
    float: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .image-right {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    border: 2px solid rgba(255, 215, 0, 0.5); /* soft gold glow */
    box-shadow:
      0 4px 10px rgba(0, 0, 0, 0.6),
      0 0 15px rgba(255, 215, 0, 0.3); /* outer gold glow */
  
    margin: 20px;
    float: right;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Center on mobile */
@media (max-width: 768px) {
  .image-left,
  .image-right {
    float: none;
    display: block;
    margin: auto;
    max-width: 360px;
    max-height: 360px;
  }
}