---
import Layout from '../layouts/Layout.astro';
const structuredData = {}
---
<Layout
	title="Local Luxury Appliance Repair – Area"
	description="High-end appliances repair - Area by certified technicians. Same-day appointments are available. Call today!"
	structuredData={structuredData}
>
<div style="margin: 50px">

</div>
</Layout>