 
---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
const structuredData = {}
---
<Layout
	title="Luxury Appliance Repair - Book Online"
	description="Book your high-end appliance repair today. Decades of combined experience in Luxury Appliance Repair, working with top-tier brands like Sub-Zero, Viking, Wolf, Thermador, and Miele"
	structuredData={structuredData}
>
<h1>Book You Appointment Online and We Will Get Back to YOu Shortly</h1>
 <div style="width: 100%; height: 2300px; max-width: 100%; overflow: hidden;">
  <iframe
    id="JotFormIFrame-251754998004061"
    title="Luxury Appliance Repair Inquiry Form"
    src="https://form.jotform.com/251754998004061"
    style="border:none; width:100%; height:100%;"
    allow="geolocation; microphone; camera; fullscreen; payment"
    frameborder="0"
    scrolling="no"
  ></iframe>
</div>
</Layout>