 
---
import Layout from '../layouts/Layout.astro';
const structuredData = {}
---
<Layout
	title="Luxury Appliance Repair - Book Online"
	description="Book your high-end appliance repair today. Decades of combined experience in Luxury Appliance Repair, working with top-tier brands like Sub-Zero, Viking, Wolf, Thermador, and Miele"
	structuredData={structuredData}
>
<h1>Book You Appointment Online and We Will Get Back to YOu Shortly</h1>
 <iframe style="hight:1000px;" id="JotFormIFrame-251125165698159" title="Luxury Appliance Repair Book Online" onload="window.parent.scrollTo(0,0)" allowtransparency="true" allow="geolocation; microphone; camera; fullscreen" src="https://form.jotform.com/251125165698159" frameborder="0" style="min-width:100%;max-width:100%;height:539px;border:none;" scrolling="no" > </iframe> <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script> <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-251125165698159']", "https://form.jotform.com/")</script> 
</Layout>