---
import Layout from '../layouts/Layout.astro';
const structuredData = {
};
// Example breadcrumbs for the home page
const breadcrumbs = [
	{ text: 'Welcome' }
];
---
<Layout
	title=""
	description=""
	structuredData={structuredData}
>
<div style="margin: 50px">

</div>
</Layout>