---
import Layout from '../layouts/Layout.astro';
import ParallaxHeader from '../components/ParallaxHeader.astro'
import Offers from '../components/Offers.jsx'
import { TabsAccordion } from '../components/TabsAccordion.jsx'
const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	"name": "Welcome to Astro",
	"description": "Build faster websites with Astro  - a modern static site builder that delivers lightning-fast performance",
	"publisher": {
		"@type": "Organization",
		"name": "Astro",
		"url": "https://astro.build"
	},
	"datePublished": new Date().toISOString(),
	"dateModified": new Date().toISOString()
};
// Example breadcrumbs for the home page
const breadcrumbs = [
	{ text: 'Welcome' }
];
---

<Layout
	title="Welcome to Astro"
	description="Build faster websites with Astro - a modern static site builder that delivers lightning-fast performance"
	structuredData={structuredData}
	
>
<!--<ParallaxHeader />-->
<!--<Offers client:visible/>-->
<!--<TabsAccordion client:visible/>-->
<!--<p style="width:90%;">When seeking the best appliance repair services in Los Angeles and its surrounding areas, it's essential to consider factors such as service quality, technician expertise, response time, and customer reviews. Here are some top-rated appliance repair companies in the region:</p>
<p>When seeking the best appliance repair services in Los Angeles and its surrounding areas, it's essential to consider factors such as service quality, technician expertise, response time, and customer reviews. Here are some top-rated appliance repair companies in the region:</p>
<p>When seeking the best appliance repair services in Los Angeles and its surrounding areas, it's essential to consider factors such as service quality, technician expertise, response time, and customer reviews. Here are some top-rated appliance repair companies in the region:</p>
<p>When seeking the best appliance repair services in Los Angeles and its surrounding areas, it's essential to consider factors such as service quality, technician expertise, response time, and customer reviews. Here are some top-rated appliance repair companies in the region:</p>
<p>When seeking the best appliance repair services in Los Angeles and its surrounding areas, it's essential to consider factors such as service quality, technician expertise, response time, and customer reviews. Here are some top-rated appliance repair companies in the region:</p>
<p>When seeking the best appliance repair services in Los Angeles and its surrounding areas, it's essential to consider factors such as service quality, technician expertise, response time, and customer reviews. Here are some top-rated appliance repair companies in the region:</p>-->
</Layout>