---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout
  title="Thank You | Zaricci Luxury Appliance Repair"
  description="Thank you for requesting luxury appliance service. We will contact you shortly."
>
<div style="margin: 50px">
    <section>
      <h1>Thank You</h1>
      <p>
        Your service request has been received. We will contact you shortly.
      </p>
      <a href="/">Return Home</a>
    </section>
  </div>
</Layout>