---
import Layout from '../layouts/Layout.astro';
const structuredData = {}


---
<Layout
	title="Local Luxury Appliance Repair – Thousand Oaks"
	description="High-end appliances repair - Thousand Oaks by certified technicians. Same-day appointments are available. Call today!"
	structuredData={structuredData}
>
<div style="margin: 50px">

</div>
</Layout>