<main>
  <div class="container">
    <a class="card" href="#">
      <img alt="Owl" height="40" src="https://assets.codepen.io/221808/owl.svg" width="40" />
      <h2>Owl</h2>
      <p>
        A nocturnal bird that flies silently. Known for its large eyes,
        sharp claws, and as a symbol of wisdom.
      </p>
    </a>
    <a class="card" href="#">

      <img alt="Rabbit" height="40" src="https://assets.codepen.io/221808/rabbit.svg" width="40" />
      <h2>Rabbit</h2>
      <p>
        A herbivorous animal with long ears and a hopping motion. Loved for
        its cute appearance.
      </p>
    </a>
    <a class="card" href="#">
      <img alt="Rabbit" height="40" src="https://assets.codepen.io/221808/raven.svg" width="40" />
      <h2>Raven</h2>
      <p>
        A smart bird with black feathers. Often depicted in myths and
        stories as a symbol of mystery.
      </p>
    </a>
  </div>
</main>
<style>
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

.card {
  animation: 2s gradient-angle infinite linear;
  border: 2px solid transparent;
  background-image: linear-gradient(#584827, #2d230f),
    conic-gradient(
      from var(--gradient-angle),
      #584827 0%,
      #c7a03c 37%,
      #f9de90 30%,
      #c7a03c 33%,
      #584827 40%,
      #584827 50%,
      #c7a03c 77%,
      #f9de90 80%,
      #c7a03c 83%,
      #584827 90%
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 1turn;
  }
}
.container {
  display: grid;
  justify-content: center;
  margin-inline: auto;
  grid-auto-flow: column;
  gap: 16px 40px;
  @media (width < 970px) {
    grid-auto-flow: row;
  }
}

.card {
  display: grid;
  max-width: 240px;
  padding: 20px;
  text-decoration: none;
  color: currentColor;
  border-radius: 20px;
  place-content: center;
  place-items: center;
  aspect-ratio: 1/1;
  row-gap: 16px;
}

.card h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.card p {
  font-size: 12px;
}

</style>