/* General */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  scroll-behavior: smooth;
}
.sticky-header {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar */
.navbar {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

/* Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  cursor: pointer;
}
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.87);
  width: 100%;
  left: 0;
  z-index: 1;
  padding: 10px 100px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  backdrop-filter: blur(6px);
}
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* Dropdown Links */
.dropdown-content a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  padding: 8px 0;
}
.dropdown-content a img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* Phone Number */
.phone-number {
  background-color: red;
  padding: 14px 16px;
}

/* Logo */
.logo {
  width: 140px;
  transition: width 0.3s ease;
}
.fixed .logo {
  width: 90px;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
  .dropdown-content {
    padding: 0;
  }
  .logo {
    display: none;
  }
}
