
h2 {
  font-size: 2.1rem;
  text-align: center;
  padding: 50px 0 50px 0;
  color: white;
}
  
  .wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding: 20px;
  }
  
  .cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col {
    width: calc(20% - 2rem);
    margin: 1rem;
    cursor: pointer;
    perspective: 1000px;
  }
  
  .container {
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  

  
  .back {
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(180deg);
  }
  
  .container:hover .front,
  .hover .front {
    transform: rotateY(-180deg);
  }
  
  .container:hover .back,
  .hover .back {
    transform: rotateY(0);
  }
  
  .front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner span {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  
  /* Responsive */
  @media screen and (max-width: 64rem) {
    .col {
      width: calc(33.333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem) {
    .col {
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem) {
    .col {
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }
  
  .front {
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* adjust the opacity as needed */
    z-index: 1;
    border-radius: 10px;
  }
  
  .front .inner {
    position: relative;
    z-index: 2;
  }
  